extends layout

block content
    form(action=`/tours/${tour.id}/book` method="POST")
        each date in tour.startDates
            input(type="checkbox" name="startDate" value=`${startDate}`)
            //- input(type="date" name="name" value=Date.now())  
            //- label(for="price") price
            //- input(type="bernum" name="price" value=tour.price)   
            //- label(for="rating") Rating
            //- input(type="number" name="rating" value=tour.rating)
            //- input(type="submit" value="Save →" class="button")