doctype html
html
  head
    block head
        title= `WildTours`
        link(rel='stylesheet', href='/css/style.css')
        link(rel="shortcut icon" type="image/png" href="/public/img/tours/favicon.png")
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
        link(href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,500;1,600&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap" rel="stylesheet")
        link(rel='stylesheet', href='/css/style.css')
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
        script(defer src="/javascript/login.js")
        meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .navbar.navbar-expand-sm.navbar-light(id="navbar-main")
        a.navbar-brand(href="/" )
            img.cover_image.logo(src="/img/tours/logo.jpg")
        button.navbar-toggler(type='button' data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon 

        .collapse.navbar-collapse(id="navbarSupportedContent")
            ul.navbar-nav.mr-auto
                if !user  
                    li.nav-item 
                        a#login.nav-link(href="/login") login
                    li.nav-item
                        a#register.nav-link(href="/register") register      
                else   
                    li.nav-item 
                        p.user-name= `Hey ${user.name}`
                    li#logout.nav-item.active
                        a.nav-link.logout(href="#") logout
                    li.nav-item.dropdown
                        img.avatar.dropdown-toggle(id="navbarDropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src=`/uploads/${user.photo}`)
                        .dropdown-menu.dropdown-menu-right( aria-labelledby="navbarDropdown")
                            a.dropdown-item(href="/account") Account 
                            a.dropdown-item(href="/myBookings") My bookings
                            a.dropdown-item(href="/myTours") My tours
                            a.dropdown-item(href="/myBookings") Create Tour
                   

    block content
        h2= tour.name
        h4= tour.description 
        p= tour.price
        .map(data-locations=`${JSON.stringify(tour.location.coordinates)}`)
    block scripts
        
        
