extends layout

block content
    .tours-wrapper
    h2 Your bookings 
        if allBookings.length > 0
        each booking in allBookings
            a(href=`/tours/${booking.tour.id}`)  
                .card-trip
                    img.cover_image(src=`/img/tours/${booking.tour.imageCover}`)
                    .card-trip-infos 
                        div 
                        h4 your booking dates
                            p= booking.startDate
                            p= booking.endtDate
                            P= booking._id
            button.btn.btn-danger(id="deleteBooking" data-bookingid=`${booking._id}`) Delete Booking    
        else 
            p Sorry you have no bookings   
            a(href="/tours")  
                button.btn.btn-info See Tours