extends layout
include mixins/_reviewForm
//- include mixins/_review
block append head
  //- script(src='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet')

block content
  //-.card-category(style={background: "linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)"})

  //- img.card-category(src=`/img/tours/${tour.imageCover}`)

  h2= tour.name
  .card-category
  for image in tour.images
    img(src=`/uploads/${image}`)

  .container
    .tourInfo  
      p= tour.startDates.toLocaleString('en-us', {day: 'numeric', month: 'long', year: 'numeric'})
      h4= tour.description 
      p= `$ ${tour.price}`
      p= tour.maxGroupSize
      a(href=`/tours/${tour.id}/book`)  
        button.btn.btn-info Book Tour 
   
    if tour.reviews 
      each review in tour.reviews
        .review
          .review__header
            .review__author
              img.avatar(src=review.author.photo)
              p= review.author.name
            .review__stars(title=`Rated ${review.rating} our of 5 stars`)
              = `★`.repeat(review.rating)
              = `☆`.repeat(5 - review.rating)
            //- time.review__time(datetime=review.created)= h.moment(review.created).fromNow()
          .review__body
            p= review.description
          
  if user 
    button(type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal") Review this tour

    div(class="modal fade" id="modal" tabindex="-1" aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            h5.modal-title  Review this tour 
          .modal-body 
            form.form-group.reviewer(action=`/reviews/${tour._id}` method="POST")
              textarea(name="description" placeholder="Leave a review")
              .reviewer__meta
                .reviewer__stars
                  each num in [5,4,3,2,1]
                      input(type="radio" required id=`star${num}` name="rating" value=num)
                      label(for=`star${num}`) #{num} Stars
              input.button(type="submit" value="Submit Review →")


  #map(data-startlocations=`${JSON.stringify(tour.startLocation) }`, data-locations=`${JSON.stringify(tour.locations) }`, data-endlocations=`${JSON.stringify(tour.endLocation) }`,  data-mapbox=`${process.env.MAPBOX_API_KEY}`)
  
  block scripts

    script(src='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js')
    //- link(href='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet')

  
