extends layout
include mixins/_reviewForm
//- include mixins/_review
block append head
  //- script(src='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet')

block content
  //-.card-category(style={background: "linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)"})

  //- img.card-category(src=`/img/tours/${tour.imageCover}`)

  h2= tour.name
  .card-category
    img(src="/uploads/tour-6112bb7772a80711082acb05-cover.jpeg")

  .container
    .tourInfo  
      //- p= tour.startDates.toLocaleString('en-us', {day: 'numeric', month: 'long', year: 'numeric'})
      h4= tour.description 
      p= `$ ${tour.price}`
      a(href=`/tours/${tour.id}/book`)  
      button.btn.btn-info Book Tour 
   
    if tour.reviews 
      each review in tour.reviews
        .review
          .review__header
            .review__author
              img.avatar(src=review.author.photo)
              p= review.author.name
            .review__stars(title=`Rated ${review.rating} our of 5 stars`)
              = `★`.repeat(review.rating)
              = `☆`.repeat(5 - review.rating)
            //- time.review__time(datetime=review.created)= h.moment(review.created).fromNow()
          .review__body
            p= review.description
          
  //- if user 
  //-   .reviewForm
  //-     +reviewForm(tour)

  #map(data-startlocations=`${JSON.stringify(tour.startLocation) }`, data-locations=`${JSON.stringify(tour.locations) }`, data-endlocations=`${JSON.stringify(tour.endLocation) }`,  data-mapbox=`${process.env.MAPBOX_API_KEY}`)
  
  block scripts
    //- script(async="false"  src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&callback=initMap`)
    script(src='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js')
    //- link(href='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet')

  
