doctype html
html
  head
    title Natours
    link(rel='stylesheet', href='/css/style.css')
    script(defer src="/javascript/map.js")
  body
    h2= tour.name
    h4= tour.description 
    p= tour.price
    .map(data-locations=`${JSON.stringify(tour.location.coordinates)}`)
  block scripts
      script(async="false" src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&callback=initMap`)
