extends layout

block content
    each tour in tours  
        .container-fluid
            .row  
                a(href=`/tours/${tour.id}`)  
                    .col-sm-12.col-lg-12.banner
                        .card.bg-dark.text-white
                            img.card-img.cover(src=`/uploads/${tour.imageCover}`)
                            .card-img-overlay
                                h1= tour.name 
                                .card-block
                                    span.price= `$ ${tour.price}`
                                    span.know-more Details >>
                                   
                              
                        //- h2.card-trip-pricing= `${tour.price} €`



//-                <div class="container">
//-     <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
//-     <p>Change your life and learn to code at one of our campuses around the world.</p>
//-     <a class="btn btn-flat" href="#">Apply now</a>
//-   </div>
//- </div>           