mixin tourForm(tour = {})

    form(action=`/tours/${tour._id || ''}` method="POST")
        h2 Info about the tour 
        label(for="name") Name
        input(type="text" name="name" value=tour.name)
        label(for="description") Description
        textarea(name="description")= tour.description
        //- Image Upload
        //- label(for="photo") Photo
        //- input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
        //- if tour.photo
        //-     img(src=`/uploads/${tour.photo}`, alt=tour.name width=200)
        //- //- address, lng and lat
        .locations
            h2 Info about the tour locations
            div
                h4 Tour Start location address
                label(for="address") Tour Start location address
                input(type="text" id="startLocation" name="startLocation[address]" value=(tour.startLocation && tour.startLocation.address))
                input(type="hidden" id="lngStartLocation" name="startLocation[coordinates][0]" value=(tour.startLocation && tour.startLocation.coordinates[0]))
                input(type="hidden" id="latStartLocation" name="startLocation[coordinates][1]" value=(tour.startLocation && tour.startLocation.coordinates[1]))
                label(for="place") Tour Start Place Name
                input(type="text" name="startLocation[place]" value=tour.startLocation.place) 
            #extraLocations
                h4 add more locations 
                - let i = 0
                div(id=`location${i}`)
                    label(for="address") Address
                    input(type="text" id="extralocations" name=`locations[${i}][address]` value=(tour.locations[i] && tour.locations[i].address))
                    input(type="hidden" id="lnglocations" name=`locations[${i}][coordinates][0]` value=(tour.locations[i] && tour.locations[i].coordinates[0]))
                    input(type="hidden" id="latlocations" name=`locations[${i}][coordinates][1]` value=(tour.locations[i] && tour.locations[i].coordinates[1]))
                    label(for="place") Place Name
                    input(type="text" name=`locations[${i}][place]` value=tour.locations[i].place) 
                div(id=`location${i+=1}`)
                    label(for="address") Address
                    input(type="text" id="extralocations" name=`locations[${i}][address]` value=(tour.locations[i] && tour.locations[i].address))
                    input(type="hidden" id="lnglocations" name=`locations[${i}][coordinates][0]` value=(tour.locations[i] && tour.locations[i].coordinates[0]))
                    input(type="hidden" id="latlocations" name=`locations[${i}][coordinates][1]` value=(tour.locations[i] && tour.locations[i].coordinates[1]))
                    label(for="place") Place Name
                    input(type="text" name=`locations[${i}][place]` value=tour.locations[i].place)     
            div
                h4 Tour End location 
                label(for="address") Tour End location
                input(type="text" id="endLocation" name="endLocation[address]" value=(tour.endLocation && tour.endLocation.address))
                input(type="hidden" id="lngEndLocation" name="endLocation[coordinates][0]" value=(tour.endLocation && tour.endLocation.coordinates[0]))
                input(type="hidden" id="latEndLocation" name="endLocation[coordinates][1]" value=(tour.endLocation && tour.endLocation.coordinates[1]))
                label(for="place") Tour End Place Name
                input(type="text" name="endLocation[place]" value=tour.endLocation.place) 
        h2 Tour Price
        label(for="price") price
        input(type="number" name="price" value=tour.price)   
        label(for="rating") Rating
        input(type="number" name="rating" value=tour.rating)
        input(type="submit" value="Save →" class="button")