mixin tourForm(tour = {})

    form(action=`/tours/${tour._id || ''}` method="POST")
        label(for="name") Name
        input(type="text" name="name" value=tour.name)
        //- label(for="description") Description
        //- textarea(name="description")= tour.description
        //- Image Upload
        //- label(for="photo") Photo
        //- input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
        //- if tour.photo
        //-     img(src=`/uploads/${tour.photo}`, alt=tour.name width=200)
        //- //- address, lng and lat
        //- label(for="address") Address
        //- input(type="text" id="address" name="location[address]" value=(tour.location && tour.location.address))
        label(for="price") price
        input(type="text" name="price" value=tour.price)   
        label(for="rating") Rating
        input(type="text" name="rating" value=tour.rating)
        input(type="submit" value="Save →" class="button")